html, body {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #171717;
    color: white;
    font-size: 16px;
    overflow: hidden;

}

#chargement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

canvas {
    background: #0A0B37 url("../ressources/images/etoiles.png") no-repeat;
    transition: background-color 24s ease-in-out;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
    /*border: 10px solid #E4E4E4;*/
    /*border-top: none;*/
}

canvas > video {
    height: 50%;
    width: 50%;
}

#cible {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: black;

    transition: background-color 1s ease;
    background-color: #ffffff;
    border-radius: 200px;
    top: 5%;
    left: 85%;
}

pre {
    display: none;
    /*font-family: sans-serif;*/
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
}

#monVideo {
    /*position: fixed;*/
    /*right: 0;*/
    /*bottom: 0;*/
    max-width: 80%;
}

.div-video {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
}



