html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #01203E url("../images/mobile-bg.jpg") no-repeat center/cover;

  overflow: hidden;
  font-family:'Montserrat', sans-serif;
}

h1, h2{
  background: linear-gradient(90deg, #F5F7FA 0%, #CDD9EC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.8em 0 0;
  margin: 0 0 1em 0;
}

h2{
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;

  margin: .8em 0 1em;
}

/* SECTION ÉCRAN TITRE DU MOBILE */

.section-ecran-titre{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-ecran-titre{
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-container{
  display: flex;
  flex-direction: column;
}

.input-container p{
  color: white;
  text-align: center;
}

.input-container input{
  padding: 1em;
}

.btn-debuter{
  width: 199px;
}

/* SECTION DES ÉTAPES DE CHOIX */

.section-etape{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1em;
}

.cta-choix{
  width: 100%;
  margin-bottom: .5em;
  margin-top: .5em;
}

.container-choix{
  max-width: 90%;
  height: 68%;
  display: flex;
  flex-direction: column;
}

.img-choix{
  height: 50%;
  max-height: 216px;
  width: auto;
}

#ecranTitreMobile{
  display: flex;
}

.section-etape{

  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);


  transition: opacity 1s;
}

/* Mettre à DISPLAY FLEX avec javascript lorsque le choix doit être affiché */
#sectionEtape1{
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}

#sectionEtape2{
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}

#sectionEtape3{
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}

#sectionEtape4{
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}

#sectionEtape5{
  opacity: 0;
  pointer-events: none;
  /*display: none;*/
}

.emphase-choix{
  font-style: italic;
}
